
<!-- Main hero unit for a primary marketing message or call to action -->
<div class="jumbo">
  <div class="row">
    <div class="span1"></div>
    <div class="span4">
      <h1>吊兰</h1>
        <h3>让我们连接一切的节点。</h3>
    </div>
    <div class="span4">
      <form id="go" method="get">
        <h2>打开新的节点</h2>
        <div class="input-append">
          <input type="text" id="topic" name="topic" class="input-large" rows="10" placeholder="Enter the topic name"></input>
          <input type="submit" class="btn btn-success" value="GO!"></input>
        </div>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="span1"><br></div>
    <div class="span6">
      <div class="visible-desktop">
      </div>
    </div>
    <div class="span4">
      <h2>最近的节点</h2>
      {{#if topics.length }}
        <ul>
        {{#each topics}}
          <li><a href="/topics/{{this}}">{{this}}</a></li>
        {{/each}}
        </ul>
      {{else}}
      <p>
        没有节点，让我们创建新的节点!
      </p>
      {{/if}}
    </div>
  </div>
</div>

<div class="row">
  <div class="span6">
    <h2>创建</h2>
{{#markdown}}
``吊兰``是一个在线的物联网测试平台，你可以用他来测试你的物联网设备。网页上创建一个节点，然后你就可以用MQTT,REST,CoAP来测试你的硬件代码。REST示例如下所示:

    $ curl -X PUT -d '{ "dream": 1 }' \
    -H "Content-Type: application/json" \
    http://dream.phodal.com/topics/prova
    $ curl http://dream.phodal.com/topics/prova
    { "dream": 1 }

让我们用MQTT, REST, CoAP做一些有趣的事!
{{/markdown}}
  </div>

  <div class="span6">

    <h2>More</h2>
{{#markdown}}

Thanks to the efforts of [Matteo Collina](http://matteocollina.com/) for MQTT.


{{/markdown}}
  </div>

</div>
{{ js "home.js" }}
